
obj/Debug/net40/.NETFramework,Version=v4.0.AssemblyAttributes.cs
obj/Debug/net40/App.g.i.cs
obj/Debug/net40/GeneratedInternalTypeHelper.g.i.cs
obj/Debug/net40/MainWindow.g.i.cs
obj/Debug/net40/MessageSample.AssemblyInfo.cs
obj/Debug/net40/MessageSample.AssemblyInfoInputs.cache
obj/Debug/net40/MessageSample.assets.cache
obj/Debug/net40/MessageSample.csproj.AssemblyReference.cache
obj/Debug/net40/MessageSample.exe.withSupportedRuntime.config
obj/Debug/net40/MessageSample.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net40/MessageSample_MarkupCompile.i.cache
obj/Debug/net40/MessageSample_MarkupCompile.i.lref
obj/MessageSample.csproj.nuget.dgspec.json
obj/MessageSample.csproj.nuget.g.props
obj/MessageSample.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
.vs/MessageSample/v16/.suo
.vs/MessageSample/DesignTimeBuild/.dtbcache.v2
*.1
